<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title or page.title or site.title }}</title>
<meta name="description" content="{{ description or page.description or site.description }}">
<meta name="author" content="{{ site.author }}">

{# TODO: Need this to be a full domain, not just / #}
{# <link rel="canonical" href="{% if canonical %}{{ canonical }}{% else %}{{ site.url}}{{ page.url }}{% endif %}" /> #}

<meta property="og:title" content="{{ title or page.title or site.title }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{{ description or page.description or site.description }}" />
<meta property="og:type" content="{{ site.type }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:image" content="{{ site.url }}{{ '/assets/img/detroit-elections-social.png' | url }}" />
<meta property="og:image:alt" content="{{ title or page.title or site.title }}" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ title or page.title or site.title }}" />
{% if site.twitterAuthor %}
<meta name="twitter:creator" content="{{ site.twitterAuthor }}" />
{% endif %}
<meta name="twitter:description" content="{{ description or page.description or site.description }}" />
<meta name="twitter:image:src" content="{{ site.url }}{{ '/assets/img/detroit-elections-social.png' | url }}" />
<meta name="twitter:image:alt" content="{{ title or page.title or site.title }}" />

<link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}{% resizeImage './src/img/detroit.png', '16x16' %}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}{% resizeImage './src/img/detroit.png', '32x32' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}{% resizeImage './src/img/detroit.png', '180x180' %}" />
<meta name="theme-color" content="#279989" />

<meta name="azure-maps-key" content="{{ site.azureMapsKey }}" />
<meta name="data-domain" content="{{ site.dataDomain }}" />

<script id="map-metadata" type="application/json">
{{ site.electionMetadata | dump | safe }}
</script>
