<header id="nav-container">
  <a id="skip-navigation" class="visually-hidden-focusable" href="#main">Skip navigation</a>
  <div id="main-nav">
    <div class="nav-title">
        {% include "detroit.njk" %}
        <a class="nav-title-link" href="/">
            {{ site.title }}
        </a>
    </div>
    <nav id="nav">
      <button id="nav-toggle" aria-expanded="false" aria-controls="nav-menu">
        <span>Menu</span>
        <span class="ml-1" aria-hidden="true">☰</span>
      </button>
      <ul id="nav-menu" class="m-0 flex flex-row justify-end">
        {% for link in site.nav %}
        <li>
          <a href="{{ link.url }}" {% if link.url == page.url %}aria-current="page"{% endif %} {% if link.url[0] != "/" %}target="_blank" rel="noopener"{% endif %}>{{ link.label }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
