---
layout: embed
title: 2024 General | Detroit Election Maps
permalink: /elections/2024-general/
maplibre: true
embedElection: 2024-general
showEmbedAttribution: true
eleventyExcludeFromCollections: true
---
