---
layout: embed
title: 2025 Primary | Detroit Election Maps
permalink: /elections/2025-primary/
maplibre: true
embedElection: 2025-primary
showEmbedAttribution: true
eleventyExcludeFromCollections: true
---
