<!DOCTYPE html>
<html lang="{{ site.locale }}">
  <head>
    {% include "metadata.njk" %}
  </head>
  <body>
    {% include "nav.njk" %}
    <main id="main" class="{{ mainClass or 'content' }}">
      {{ content | safe }}
    </main>
    {% include "footer.njk" %}
    <script type="module" src="{{ '/assets/main.js' | url }}"></script>
  </body>
</html>
